<div class="container">

  <p class=title>ログイン</p>

  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="form">

      <div class="form-content">
        <div class="label">
          <div class="marker"></div>
          <%= f.label :email, "メールアドレス", class: "label-text" %>
        </div>
        <%= f.email_field :email, autocomplete: "email", class: "input-box" %>
      </div>

      <div class="form-content">
        <div class="label">
          <div class="marker"></div>
          <%= f.label :password, "パスワード", class: "label-text" %>
        </div>
        <%= f.password_field :password, autocomplete: "new-password", class: "input-box" %>
      </div>

    </div>

    <div class="center-button">
      <%= f.submit "ログイン", class: "form-button" %>
    </div>
  <% end %>

  <div class="center-button">
    <%= link_to "キャンセル", :back, class: "back" %>
  </div>

</div>
