<div class="container">

  <div class="timeline-select">
    <%= link_to user_timeline_scenes_path(current_user), class: "icon-link-button" do %>
      <div class="left-panel timeline-panel active">
        <p>シーン</p>
      </div>
    <% end %>
    <%= link_to user_timeline_items_path(current_user), class: "icon-link-button" do %>
      <div class="timeline-panel">
        <p>アイテム</p>
      </div>
    <% end %>
    <%= link_to user_timeline_reviews_path(current_user), class: "icon-link-button" do %>
      <div class="right-panel timeline-panel">
        <p>レビュー</p>
      </div>
    <% end %>
  </div>

  <div class="timeline jscroll">
    <% if @scenes.present? %>
      <div class="card-list tl-scene-list">

        <% @scenes.each do |scene| %>
          <% user = scene.user %>

          <div class="card-shadow">
            <%= link_to user_path(user), class: "item-detail-link" do %>

              <div class="card">
                <%= attachment_image_tag scene, :image, :fill, 300, 170, fallback: "desk-icon.png", size: "300x170", class: "card-picture" %>
                <div class="card-information">

                  <div class="profile">
                    <%= attachment_image_tag user, :image, :fill, 60, 60, fallback: "user-icon.png", size: "60x60", class: "thumb-user-icon" %>
                    <div class="identification">
                      <h4>@<%= user.unique_name %></h4>
                      <h3><%= user.hundle_name %></h3>
                    </div>
                  </div>

                  <div class="timeline-information">
                    <p>シーンを追加しました</p>
                  </div>

                  <div class="created-at">
                    <p><%= scene.created_at.strftime("%Y/%m/%d") %></p>
                  </div>

                </div>
              </div>

            <% end %>
          </div>

        <% end %>

        <%= paginate @scenes %>

      </div>
    <%else %>
      <div class="empty-content">
        <i class="far fa-user"></i>
        <p>趣味の合うユーザーをフォローしてみよう</p>
      </div>
    <% end %>
  </div>

</div>