<div class="container">

  <div class="title-panel"><p>アイテム</p></div>

  <%= form_with url: search_items_path, method: :get, local: true do |f| %>
    <div class="search-form">
      <%= f.text_field :search, value: @search_value, class: "search-input-box" %>
      <div class="link-layout">
        <button type="submit" class="circle-search-button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  <% end %>

  <div class="search-result">
    <div class="item-result">

      <% if @scene_items.present? %>
        <% @scene_items.each do |scene_item| %>
          <% item = scene_item.item %>
          <% item_picture = item.item_pictures.first %>

          <div class="card-shadow">
            <%= link_to item_path(item.id), class: "item-detail-link" do %>

              <div class="card">
                <%= attachment_image_tag item_picture, :image, :fill, 300, 300, class: "card-picture" %>
                <div class="card-information">

                  <% if item.review.present? %>
                    <div class="rating-star">
                      <% if item.review.rating == 1 %>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star gray-star"></i>
                        <i class="fas fa-star gray-star"></i>
                        <i class="fas fa-star gray-star"></i>
                        <i class="fas fa-star gray-star"></i>
                      <% elsif item.review.rating == 2 %>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star gray-star"></i>
                        <i class="fas fa-stargray- star"></i>
                        <i class="fas fa-star gray-star"></i>
                      <% elsif item.review.rating == 3 %>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star gray-star"></i>
                        <i class="fas fa-star gray-star"></i>
                      <% elsif item.review.rating == 4 %>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star gray-star"></i>
                      <% elsif item.review.rating == 5 %>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                      <% end %>
                    </div>
                  <% end %>

                  <h4><%= item.brand %></h4>
                  <h3><%= item.name %></h3>

                  <% if item.genres.present? %>
                    <div class="genre-index">
                      <% item.genres.each do |genre| %>
                        <div class="genre-content">
                          <div class="genre-frame">
                            <p class="genre-name"><%= genre.name %></p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>

                  <div class="card-item-link">
                    <% if item.homepage_link.present? %>
                      <i class="fas fa-home normal-icon"></i>
                    <% end %>

                    <% if item.amazon_link.present? %>
                      <i class="fab fa-amazon normal-icon"></i>
                    <% end %>
                  </div>

                  <div class="updated-at">
                    <p><%= scene_item.created_at.strftime("%Y/%m/%d") %></p>
                  </div>

                  <div class="clip-link">
                    <% if item.user_id == current_user.id %>
                      <h3 class="clip-count"><%= item.clips.count %></h3><i class="fas fa-paperclip normal-icon"></i>
                    <% else %>
                      <div id="clip-buttons-<%= item.id %>">
                        <%= render partial: "public/clips/clip", locals: { item: item } %>
                      </div>
                    <% end %>
                  </div>

                </div>
              </div>

            <% end %>
          </div>

        <% end %>
      <% end %>

    </div>
  </div>

</div>