<!DOCTYPE html>
<html>
  <head>
    <title>MyDesk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ontouchstart="">
    <div class="separate">

      <header>
        <% if user_signed_in? %>
          <nav class="header-nav">
            <ul class="main-header-info">
              <li class="my-desk-login">
                <div class="logo">
                  <%= image_tag "logo-login.png" %>
                  <div class="desk-line-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <ul class="my-desk-info">
                  <li class="desk-info-panel">
                    <%= link_to user_path(current_user), class: "icon-link-button" do %>
                      <p>デスクチェック</p>
                    <% end %>
                  </li>
                  <li class="desk-info-panel">
                    <%= link_to items_path, class: "icon-link-button" do %>
                      <p>アイテム一覧</p>
                    <% end %>
                  </li>
                  <li class="desk-info-panel close">
                    <div class="cross-mark"></div>
                  </li>
                </ul>
              </li>

              <li class="main-panel">
                <div class="header-search">

                  <div class="search-trigger">
                    <p>検索する <i class="fas fa-search"></i><p>
                    <div class="two-line-icon">
                      <span></span>
                      <span></span>
                    </div>
                  </div>

                  <div class="search-field">
                    <div class="desker-search">
                      <div class="search-target">
                        <div class="target-desker">
                          <p>ユーザー</p>
                        </div>
                        <div class="target-item">
                          <p>アイテム</p>
                        </div>
                      </div>
                      <div class="search-box">
                        <%= form_with url: search_users_path, method: :get, local: true do |f| %>
                          <div class="search-form">
                            <%= f.text_field :search, class: "search-input-box", id: "desker-input" %>
                            <div class="link-layout">
                              <button type="submit" class="circle-search-button desker-search-button">
                                <i class="fas fa-search"></i>
                              </button>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>

                     <div class="item-search">
                      <div class="search-target">
                        <div class="target-desker">
                          <p>ユーザー</p>
                        </div>
                        <div class="target-item">
                          <p>アイテム</p>
                        </div>
                      </div>
                      <div class="search-box">
                        <%= form_with url: search_items_path, method: :get, local: true do |f| %>
                          <div class="search-form">
                            <%= f.text_field :search, class: "search-input-box", id: "item-input" %>
                            <div class="link-layout">
                              <button type="submit" class="circle-search-button item-search-button">
                                <i class="fas fa-search"></i>
                              </button>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>

                </div>
              </li>

              <li class="square-panel responsive sp-search-trigger">
                <div class="square-panel-information">
                  <i class="fas fa-search"></i>
                  <p>検索する<p>
                </div>
              </li>

              <li class="square-panel">
                <div class="user-setting-trigger">
                  <%= attachment_image_tag current_user, :image, :fill, 60, 60, fallback: "user-icon.png", size: "60x60", class: "thumb-user-icon" %>
                </div>
                <ul class="user-setting-info">
                  <li class="user-setting-panel">
                    <%= link_to mail_setting_user_path(current_user), class: "icon-link-button" do%>
                      <p>ユーザーの設定</p>
                    <% end %>
                  </li>
                  <li class="user-setting-panel responsive">
                    <%= link_to destroy_user_session_path, method: :delete, class: "icon-link-button" do%>
                      <p>ログアウト</p>
                    <% end %>
                  </li>
                  <li class="user-setting-panel close">
                    <div class="cross-mark"></div>
                  </li>
                </ul>
              </li>

              <li class="rectangle-panel">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "session log-out" %>
              </li>
            </ul>
          </nav>

          <nav class="sub-header">
            <ul class="sub-header-info">
              <li class="left-panel sub-panel">
                <%= link_to user_timeline_scenes_path(current_user), class: "icon-link-button" do %>
                  <p>タイムライン</p>
                  <i class="far fa-clock link-icon"></i>
                <% end %>
              </li>
              <li class="sub-panel">
                <%= link_to user_followings_path(current_user), class: "icon-link-button" do %>
                  <p>フォロー中</p>
                  <h3><%= followings_counter %></h3>
                <% end %>
              </li>
              <li class="sub-panel">
                <%= link_to followers_user_path(current_user), class: "icon-link-button" do %>
                  <p>フォロワー</p>
                  <h3><%= followers_counter %></h3>
                <% end %>
              </li>
              <li class="right-panel sub-panel">
                <%= link_to user_clips_path(current_user), class: "icon-link-button" do %>
                  <p>クリップ</p>
                  <i class="fas fa-paperclip link-icon"></i>
                <% end %>
              </li>
            </ul>
          </nav>

          <div class="search-field responsive">
            <div class="desker-search">
              <div class="search-target">
                <div class="target-desker">
                  <p>ユーザー</p>
                </div>
                <div class="target-item">
                  <p>アイテム</p>
                </div>
              </div>
              <div class="search-box">
                <%= form_with url: search_users_path, method: :get, local: true do |f| %>
                  <div class="search-form">
                    <%= f.text_field :search, class: "search-input-box" %>
                    <div class="link-layout">
                      <button type="submit" class="circle-search-button">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="item-search">
              <div class="search-target">
                <div class="target-desker">
                  <p>ユーザー</p>
                </div>
                <div class="target-item">
                  <p>アイテム</p>
                </div>
              </div>
              <div class="search-box">
                <%= form_with url: search_items_path, method: :get, local: true do |f| %>
                  <div class="search-form">
                    <%= f.text_field :search, class: "search-input-box" %>
                    <div class="link-layout">
                      <button type="submit" class="circle-search-button">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <nav class="header-nav">
            <ul class="header-info">
              <li class="my-desk">
                <%= image_tag "logo.png" %>
              </li>
              <li class="square-panel"></li>

              <li class="main-panel"></li>

              <li class="rectangle-panel">
                <%= link_to "会員登録", new_user_registration_path, class: "session log-in" %>
                <%= link_to "ログイン", new_user_session_path, class: "session sign-up" %>
              </li>
            </ul>
          </nav>
        <% end %>
      </header>

      <main>
        <div class="loading-field">
          <div class="loading">
            <div class="loading-icon">
              <div class="vertical-line"></div>
              <div class="horizontal-line"></div>
              <div class="vertical-line"></div>
            </div>
          </div>
        </div>
        <%= yield %>
      </main>

      <footer>
        <p>koseki's portfolio</p>
      </footer>

    </div>
  </body>
</html>
