<div class="container">

  <div class="user-setting">

    <nav class="user-setting-info">
      <li class="setting-info-panel">
        <%= link_to mail_setting_user_path(@user), class: "icon-link-button" do %>
          <p>メールアドレス変更</p>
        <% end %>
      </li>
      <li class="setting-info-panel active">
        <%= link_to edit_user_registration_path, class: "icon-link-button" do %>
          <p>パスワード変更</p>
        <% end %>
      </li>
      <li class="setting-info-panel">
        <%= link_to leave_user_path(@user), class: "icon-link-button" do %>
          <p>退会</p>
        <% end %>
      </li>
    </nav>

    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "users/shared/error_messages", resource: @user %>
      <div class="user-setting-form">

        <div class="label">
          <div class="marker"></div>
          <%= f.label :current_password, "現在のパスワード", class: "label-text" %>
        </div>
        <div class="form-input">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "input-box" %>
        </div>

        <div class="label">
          <div class="marker"></div>
          <%= f.label :password, "新しいパスワード", class: "label-text" %>
        </div>
        <div class="form-input">
          <%= f.password_field :password, autocomplete: "new-password", class: "input-box" %>
        </div>

        <div class="label">
          <div class="marker"></div>
          <%= f.label :password_confirmation, "新しいパスワード(確認用)", class: "label-text" %>
        </div>
        <div class="form-input">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-box" %>
        </div>

        <div class="center-button">
          <%= f.submit "変更", class: "form-data link-button" %>
        </div>

      </div>
    <% end %>

  </div>

</div>
